.header__logo {
  align-self: flex-start;
  margin: 0;
  padding-bottom: 41px;
}

@media screen and (max-width: 890px) {
  .header__logo {
    margin-left: 20px;
    padding-bottom: 31px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 104px;
    height: 25px;
    object-fit: contain;
  }
}
